<custom-valid></custom-valid>
<app-person></app-person>
<app-validform></app-validform>>
<m-contact></m-contact>
<contact-first></contact-first>

<parent-add></parent-add>
<prop-element></prop-element>
<p myHighlight> Some text here</p>
{{ 2 | exponentialStrength:10}}
<app-pipe></app-pipe>

<attr-demo></attr-demo>
<app-switch></app-switch>
<list-employee></list-employee>
<comp-Simplecurd></comp-Simplecurd>
<app-ngif></app-ngif>
<h2> This is two way databinding component example  </h2>
<sample-app></sample-app>
<h1>DataBinding Demos</h1>

<h1>Second Compo</h1>
<test-app></test-app>
<login-comp></login-comp>
<app-atm></app-atm>
<h2>Hello </h2>
<div class="center">
   {{title}} is running !!

   <table>
     <thead>
       <tr>
         <th> EMP ID</th>
         <th>Name</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>{{eid}}</td>
         <td>{{ename}}</td>
       </tr>
     </tbody>
   </table>
</div>
